alias vim="nvim"

#alias ..= "cd '..'"
#alias ...= "cd '../..'"
#alias ....= "cd '../../..'"
#alias .....= "cd '../../../..'"

if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

alias l="ls -lhF ${colorflag}"
alias la="ls -lahF ${colorflag}"
alias lsd="ls -lhF ${colorflag} | grep --color=never '^d'"
alias ls="ls ${colorflag}"

alias grep="grep --color=auto "


#kitty magix
alias ssh="kitty +kitten ssh"
alias icat="kitty +kitten icat"
alias diff="kitty +kitten diff"

alias untar='tar xvf'
alias cwd='pwd | tr -d "\r\n" | xclip -selection clipboard'
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
alias week='date +%V'
